body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    min-height: 100vh;
    background: linear-gradient(135deg,#020617,#1e293b);
}

nav {
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
}

section {
    padding:50px;
}

.project-card {
    background:#1e293b;
    padding:20px;
    margin:20px;
    border-radius:15px;
}
